{% extends 'layouts/default.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}

<table cellpadding="0" cellspacing="0" style="width: 700px;">
    <tbody>
        <tr>
            <td style="text-align: center;">
                <div style="width: 100%; height: 100; text-align: center;">
                    <img src="https://scontent.fsgn5-7.fna.fbcdn.net/v/t1.15752-9/81470167_507414329881194_8651271638429466624_n.png?_nc_cat=103&_nc_eui2=AeGiSP9PLIlCl8miArjgP0wa7M0nL5pUepaEn6pnrZn1hLe3YnMWMSfdgKh85SOxn2VXnwlM5cEM2k4EHvwN1kWAFjDNLqxbIy3_q2iLK_Gq_g&_nc_oc=AQlXQX5MzduCOmh6QcV9qJpK9IwS7nmG1pZXTUMdQSe7uib6mkkdP0yZgVzRvwm6mWLuJKjRlVKUPfd1Mqs_jEHH&_nc_ht=scontent.fsgn5-7.fna&oh=379883056532744661451d4259d0d676&oe=5E98DB4B"
                        alt="" width="150px; display: inline-block;">
                </div>
            </td>
            <td style="padding: 15px 0;">
                <table cellpadding="0" cellspacing="0" style="width: 100%;">
                    <tr>
                        <td>
                            <img src="https://i.ibb.co/6HC9MHB/user.png" alt="" style="width: 15px; height: 20px;">
                        </td>
                        <td>
                            <p style="display: block; font-size: 18px; font-weight: bold; line-height: 5px; letter-spacing: 3px;">
                                Đỗ quan tâm</p>
                            <p style="display: block; line-height: 5px; font-style: italic; letter-spacing: 3px;">
                                Graphic Designer</p>
                        </td>
                    </tr>
                    <tr>
                        <td><img src="https://i.ibb.co/JHp1cpn/phone.png" alt="" style="width: 13px; height: 20px;"></td>
                        <td><a href="tel:025462755555" style="font-weight: 500; letter-spacing: 3px;line-height: 10px;">0254.627.55555</a></td>
                    </tr>
                    <tr>
                        <td><img src="https://i.ibb.co/cNYbv3R/mail.png" alt="" style="width: 15px; height: 14px;"></td>
                        <td><a href="mailto:contact@Vutatech.vn" style="font-weight: 500; letter-spacing: 3px;line-height: 10px;">contact@Vutatech.vn</a></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="border-top: 3px solid #21a2db; padding: 15px;">
                <p style="font-weight: bold; font-size: 13px; letter-spacing: 2px;">CÔNG TY CỔ PHẦN CÔNG NGHỆ VUTATECH
                </p>
                <p style="font-weight: bold; font-size: 11px; letter-spacing: 2px;">- Trụ sở chính: Số 326 Đường 30
                    Tháng 4, P.Rạch Dừa, TP. Vũng Tàu, Tỉnh Bà Rịa - Vũng Tàu.</p>
                <p style="font-weight: bold; font-size: 11px; letter-spacing: 2px;">- Điện thoại: <a
                        href="tel:02546275555">0254.627.5555</a> - <a href="tel:0937555313">0937.555.313</a>.</p>
                <p style="font-weight: bold; font-size: 11px; letter-spacing: 2px;">- Email: <a
                        href="mailto:contact@Vutatech.vn">contact@Vutatech.vn</a>.</p>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td style="background-color: #21a2db; padding: 15px;" colspan="2">
                <div style="display:flex;">
                    <a href="" style="flex: 1; padding: 0 5px;"><img src="https://i.ibb.co/M7FjYsh/fb.png" alt="fb" style="max-width: 100%;"></a>
                    <a href="" style="flex: 1; padding: 0 5px;"><img src="https://i.ibb.co/QNdz6kD/web-a.png" alt="web-a" style="max-width: 100%;"></a>
                    <a href="" style="flex: 1; padding: 0 5px;"><img src="https://i.ibb.co/mhNxYVb/web.png" alt="web" style="max-width: 100%;"></a>
                    <a href="" style="flex: 1; padding: 0 5px;"><img src="https://i.ibb.co/M1wdgLC/youtube.png" alt="youtube" style="max-width: 100%;"></a>
                </div>
            </td>
        </tr>
    </tfoot>
</table>

{% endblock %}