// @import './components/global';
// @import './components/font-awesome';

.sign{
    @apply flex flex-col;
}
.header{
    @apply flex justify-between;
}
.bold{
    @apply font-bold;
}
.text-uppercase{
    @apply uppercase;
}
.header-py-3{
  @apply pb-3;
}
.dsadas{
    @apply items-center;
}